html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to bottom, white, darkslategray);    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
